<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title">Welcome to OneDance!</span></h1>

    <p class="lead" jhiTranslate="home.subtitle">This is OneDance homepage</p>

    <div>
      @if (account() !== null) {
        <div class="alert alert-success">
          @if (account()) {
            <span id="home-logged-message" jhiTranslate="home.logged.message" [translateValues]="{ username: account()!.login }"
              >You are logged in as user &quot;{{ account()!.login }}&quot;.</span
            >
          }
        </div>
      } @else {
        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
          <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a
          ><span jhiTranslate="global.messages.info.authenticated.suffix"
            >, you can try the default accounts:<br />- Administrator (login=&quot;admin&quot; and password=&quot;admin&quot;) <br />- User
            (login=&quot;user&quot; and password=&quot;user&quot;).</span
          >
        </div>
      }
    </div>

    <p jhiTranslate="home.question">If you have any question on OneDance:</p>

    <ul>
      <li>
        <a href="OneDance.co" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.homepage">OneDance homepage</a>
      </li>
      <li>
        <a href="https://onedance.co" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.stackoverflow"
          >OneDance on Twitter</a
        >
      </li>
      <li>
        <a href="https://onedance.co" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.bugtracker">OneDance bug tracker</a>
      </li>
      <li>
        <a href="https://onedance.co" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.chat">OneDance</a>
      </li>
      <li>
        <a href="https://onedance.co" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.follow"
          >follow &#64;jhipster on Twitter</a
        >
      </li>
    </ul>

    <p>
      <span jhiTranslate="home.like">If you like OneDance, don&apos;t forget to give us a star on</span>
      <a href="https://onedance.co" target="_blank" rel="noopener noreferrer" jhiTranslate="home.github">Twitter</a>!
    </p>
  </div>
</div>
